<h1>Quitar Cursos a <%= @user.email %></h1>
<%= bootstrap_form_for(@user,layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10", url: users_do_unassign_url) do |f| %>
    <%= f.select :courses ,@courses, { label: "Curso" }, { class: "selectpicker" } %>
    <%= f.form_group do %>
        <%= f.submit "Quitar" %>
    <% end %>
<% end %>