<h1 class="text-center">Asignar Salas a Curso</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Curso</th>
      <th>Tipo</th>
      <th>Fecha</th>
      <th>Modulo</th>
      <th>Accion</th>
    </tr>
  </thead>
  <tbody>
  <% @schedules.each do |schedule| %>
    <tr>
      <td><%= schedule.nrc %> - <%= (Course.find_by nrc: schedule.nrc).initials %></td>
      <td><%= schedule.date.nil? ? "Semestral" : "Dia"  %></td>
      <td><%= schedule.date.nil? ? "-" : schedule.date  %></td>
      <td><%= schedule.module %></td>
      <td>
        <%= link_to "Asignar Sala", asignaciones_manual_do_path(:id => schedule.id), :class => "btn btn-default"  %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>